In [14]:
import requests
import pandas as pd

In [15]:
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 100)

In [16]:
def load_api_key(key_path: str='secret/oai_key.txt', key_name: str='api_key') -> None:
    key_name = str(key_name)
    with open(key_path, 'r') as f:
        key_value = f.read().strip()
    globals()[key_name] = key_value

    print(f"API key set to global varible '{key_name}'")

In [17]:
load_api_key(key_path='secret/oai_key.txt', key_name='api_key')

API key set to global varible 'api_key'

In [18]:
url = 'https://api.originality.ai/api/v1'

In [19]:
# EXAMPLE GET BALANCE

headers={'X-OAI-API-KEY': api_key}
response_1 = requests.get(url + '/account/credits/balance', headers=headers)
response_1.json()

{'balance': 36829}

In [20]:
# EXAMPLE GET USAGE 

headers={'X-OAI-API-KEY': api_key}
response_2 = requests.get(url + '/account/credits/content_scan_usage', headers=headers)
len(response_2.json()['usage'])
#response_2.json()

100

In [21]:
# EXAMPLE GET USAGE INTO DF

df_usage_info = pd.json_normalize(response_2.json()['usage'])
df_usage_info

           contentID  credits_used                         date
0   wxiaoy0hs3nmeblr             2  2023-03-27T14:02:37.000000Z
1   zw0ar9vkqi5oujt1            14  2023-03-24T22:54:55.000000Z
2   ogml6wj51vq3br0a             2  2023-03-24T22:17:08.000000Z
3   4ohksl37b52j68dg             2  2023-03-22T18:05:53.000000Z
4   lh1g78x0ftnevkpy             2  2023-03-22T18:05:01.000000Z
..               ...           ...                          ...
95  rm1xu9306c4nelt8            22  2023-01-31T17:06:51.000000Z
96  ix82dnv7hbf463jy             9  2023-01-31T14:59:58.000000Z
97  5uebrmz90ydavtgh             4  2023-01-30T21:22:47.000000Z
98  pswdlcvbfguxz1h8             2  2023-01-30T20:56:59.000000Z
99  nzp4kl0syroqftge             4  2023-01-30T20:50:17.000000Z

[100 rows x 3 columns]

In [22]:
# EXAMPLE GET PAYMENTS

headers={'X-OAI-API-KEY': api_key}
response_3 = requests.get(url + '/account/credits/payments', headers=headers)
response_3.json()

{'payments': []}

In [23]:
# EXAMPLE POST CONTENT SCAN

headers={'X-OAI-API-KEY': api_key}
params={
  "content": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit varius nisi, non eleifend ante volutpat non. Fusce eget rutrum tellus. Duis et dolor dignissim, tincidunt odio et, cursus libero. Donec vitae nunc mollis, rutrum risus a, sodales lectus. Maecenas dapibus auctor egestas. Nunc volutpat justo purus, eu sodales neque sollicitudin id. Quisque ut scelerisque dolor. Suspendisse tincidunt viverra erat a scelerisque. Proin tempor libero sit amet sem consectetur, et elementum tortor lobortis. Ut eleifend fermentum accumsan. Pellentesque mattis nec eros in porta. Nunc aliquam ultricies est vitae euismod. Vestibulum pretium, lorem quis ornare molestie, velit risus posuere enim, sit amet fringilla lorem lectus aliquam dolor."
}

response_4 = requests.post(url + '/scan/ai',headers=headers, params=params)
response_4.json()

{'success': True,
 'title': 'API Scan',
 'score': {'original': 0.58326363563538, 'ai': 0.41673636436462},
 'blocks': [{'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit varius nisi, non eleifend ante volutpat non. Fusce eget rutrum tellus. Duis et dolor dignissim, tincidunt odio et, cursus libero. Donec vitae nunc mollis, rutrum risus a, sodales lectus. Maecenas dapibus auctor egestas. Nunc volutpat justo purus, eu sodales neque sollicitudin id. Quisque ut scelerisque dolor. Suspendisse tincidunt viverra erat a scelerisque. Proin tempor libero sit amet sem consectetur, et elementum tortor lobortis. Ut eleifend fermentum accumsan. Pellentesque mattis nec eros in porta. Nunc aliquam ultricies est vitae euismod. Vestibulum pretium, lorem quis ornare molestie, velit risus posuere enim, sit amet fringilla lorem lectus aliquam dolor.',
   'result': {'fake': 0.416736364364624, 'real': 0.583263635635376},
   'status': 'success'}],
 'credits_used': 2,
 'credits': 36827,
 'content': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit varius nisi, non eleifend ante volutpat non. Fusce eget rutrum tellus. Duis et dolor dignissim, tincidunt odio et, cursus libero. Donec vitae nunc mollis, rutrum risus a, sodales lectus. Maecenas dapibus auctor egestas. Nunc volutpat justo purus, eu sodales neque sollicitudin id. Quisque ut scelerisque dolor. Suspendisse tincidunt viverra erat a scelerisque. Proin tempor libero sit amet sem consectetur, et elementum tortor lobortis. Ut eleifend fermentum accumsan. Pellentesque mattis nec eros in porta. Nunc aliquam ultricies est vitae euismod. Vestibulum pretium, lorem quis ornare molestie, velit risus posuere enim, sit amet fringilla lorem lectus aliquam dolor.'}

In [24]:
# EXAMPLE POST CONTENT SCAN INTO DF

df_content_scan = pd.json_normalize(response_4.json())
df_content_scan.head()

,success,title,blocks,credits_used,credits,content,score.original,score.ai
0,True,API Scan,"[{'text': 'Lorem ipsum dolor sit amet, consect...",2,36827,"Lorem ipsum dolor sit amet, consectetur adipis...",0.583264,0.416736

In [25]:
# EXAMPLE POST URL SCAN

headers={'X-OAI-API-KEY': api_key}
params={"url": "https://www.target.com/c/table-lamps-lighting-home-decor/-/N-56d7t"}
response_5 = requests.post(url + "/scan/url",headers=headers, params=params)
response_5.json()

{'success': True,
 'url': 'https://www.target.com/c/table-lamps-lighting-home-decor/-/N-56d7t',
 'url_code': 200,
 'credits_used': 4,
 'credits': 36823,
 'word_count': 302,
 'score': {'original': 0.9995359182357788, 'ai': 0.00046414980897679925},
 'score_breakdown': [{'original': 0.9995359182357788,
   'ai': 0.00046414980897679925,
   'text': 'A bedroom table lamp sets the mood for your bedroom and illuminates reading and task work. These should be 24&quot;&ndash;27&quot; tall for optimal bedtime reading. Light your living room and create an inviting atmosphere with the right table lamp. The ideal lamp size for a living room table lamp is 24&quot;&ndash;34&quot; tall. Task desk lighting can help bring specific areas into focus, while a taller lamp can brighten a larger area. Desk lamps can range in size from 12&quot;&ndash;30&quot; high. These small (less than 24&quot; tall) lamps soften the overall light in a room and draw attention to objects nearby. They&rsquo;re perfect for entryways or living rooms. Add warmth &amp; light to any space with a table lamp. As easy addition, lamps help set the right ambiance for every type of room. Living rooms require soft lighting to create an inviting atmosphere for your guests. Accent lamps not only brighten up the room but also double up as decor for your living room. The base and shade complement each other making them a great decor accessory. They are perfect for your entryway table or living rooms. Based on your decor style, find a variety of designs, from modern to bohemian, or go rustic with a farmhouse-inspired lamp. If you are looking to mix-n-match, pick your favorite lamp base available in a range of materials, from glass to wood and shiny metallic finishes. The size, material, and shape of the shade also determine the amount of illumination. For bedrooms, the lighting is softer to set the right mood for relaxation or light reading. A table lamp for the bedroom helps illuminate for reading and task work but is softer than a desk lamp. Task desk lamps are great for your study table or work desk as they focus light on a specific area.'}],
 'results': {'success': True,
  'statusCode': 200,
  'cost': 4,
  'wordCount': 302,
  'totalAIResults': {'real': 0.9995359182357788,
   'fake': 0.00046414980897679925},
  'blocks': [{'original': 0.9995359182357788,
    'ai': 0.00046414980897679925,
    'text': 'A bedroom table lamp sets the mood for your bedroom and illuminates reading and task work. These should be 24&quot;&ndash;27&quot; tall for optimal bedtime reading. Light your living room and create an inviting atmosphere with the right table lamp. The ideal lamp size for a living room table lamp is 24&quot;&ndash;34&quot; tall. Task desk lighting can help bring specific areas into focus, while a taller lamp can brighten a larger area. Desk lamps can range in size from 12&quot;&ndash;30&quot; high. These small (less than 24&quot; tall) lamps soften the overall light in a room and draw attention to objects nearby. They&rsquo;re perfect for entryways or living rooms. Add warmth &amp; light to any space with a table lamp. As easy addition, lamps help set the right ambiance for every type of room. Living rooms require soft lighting to create an inviting atmosphere for your guests. Accent lamps not only brighten up the room but also double up as decor for your living room. The base and shade complement each other making them a great decor accessory. They are perfect for your entryway table or living rooms. Based on your decor style, find a variety of designs, from modern to bohemian, or go rustic with a farmhouse-inspired lamp. If you are looking to mix-n-match, pick your favorite lamp base available in a range of materials, from glass to wood and shiny metallic finishes. The size, material, and shape of the shade also determine the amount of illumination. For bedrooms, the lighting is softer to set the right mood for relaxation or light reading. A table lamp for the bedroom helps illuminate for reading and task work but is softer than a desk lamp. Task desk lamps are great for your study table or work desk as they focus light on a specific area.'}],
  'results': {'pageID': 0,
   'url': 'https://www.target.com/c/table-lamps-lighting-home-decor/-/N-56d7t',
   'statusCode': 200,
   'aiResults': {'real': 0.9995359182357788, 'fake': 0.00046414980897679925},
   'wordCount': 302,
   'aiTextBlocks': [{'text': 'A bedroom table lamp sets the mood for your bedroom and illuminates reading and task work. These should be 24&quot;&ndash;27&quot; tall for optimal bedtime reading. Light your living room and create an inviting atmosphere with the right table lamp. The ideal lamp size for a living room table lamp is 24&quot;&ndash;34&quot; tall. Task desk lighting can help bring specific areas into focus, while a taller lamp can brighten a larger area. Desk lamps can range in size from 12&quot;&ndash;30&quot; high. These small (less than 24&quot; tall) lamps soften the overall light in a room and draw attention to objects nearby. They&rsquo;re perfect for entryways or living rooms. Add warmth &amp; light to any space with a table lamp. As easy addition, lamps help set the right ambiance for every type of room. Living rooms require soft lighting to create an inviting atmosphere for your guests. Accent lamps not only brighten up the room but also double up as decor for your living room. The base and shade complement each other making them a great decor accessory. They are perfect for your entryway table or living rooms. Based on your decor style, find a variety of designs, from modern to bohemian, or go rustic with a farmhouse-inspired lamp. If you are looking to mix-n-match, pick your favorite lamp base available in a range of materials, from glass to wood and shiny metallic finishes. The size, material, and shape of the shade also determine the amount of illumination. For bedrooms, the lighting is softer to set the right mood for relaxation or light reading. A table lamp for the bedroom helps illuminate for reading and task work but is softer than a desk lamp. Task desk lamps are great for your study table or work desk as they focus light on a specific area.',
     'status': 'success',
     'result': {'fake': 0.00046414980897679925,
      'real': 0.9995359182357788}}]}}}

In [26]:
# EXAMPLE POST URL SCAN INFO DF

df_content_scan = pd.json_normalize(response_5.json())
df_content_scan.head()

,success,url,url_code,credits_used,credits,word_count,score_breakdown,score.original,score.ai,results.success,results.statusCode,results.cost,results.wordCount,results.totalAIResults.real,results.totalAIResults.fake,results.blocks,results.results.pageID,results.results.url,results.results.statusCode,results.results.aiResults.real,results.results.aiResults.fake,results.results.wordCount,results.results.aiTextBlocks
0,True,https://www.target.com/c/table-lamps-lighting-...,200,4,36823,302,"[{'original': 0.9995359182357788, 'ai': 0.0004...",0.999536,0.000464,True,200,4,302,0.999536,0.000464,"[{'original': 0.9995359182357788, 'ai': 0.0004...",0,https://www.target.com/c/table-lamps-lighting-...,200,0.999536,0.000464,302,[{'text': 'A bedroom table lamp sets the mood ...