In [1]:
import requests
import pandas as pd

In [2]:
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 100)

In [3]:
# fetch api key from file

with open('secret/oai_key.txt', 'r') as file:
    api_key = file.read()
print(f'api_key is type {type(api_key).__name__} and is {len(api_key)} characters long')

api_key is type str and is 32 characters long

In [4]:
url = 'https://api.originality.ai/api/v1'

In [5]:
# EXAMPLE GET BALANCE

headers={'X-OAI-API-KEY': api_key}
response_1 = requests.get(url + '/account/credits/balance', headers=headers)
response_1.json()

{'balance': 93409}

In [6]:
# EXAMPLE GET USAGE 

headers={'X-OAI-API-KEY': api_key}
response_2 = requests.get(url + '/account/credits/content_scan_usage', headers=headers)
len(response_2.json()['usage'])
#response_2.json()

100

In [7]:
# EXAMPLE GET USAGE INTO DF

df_usage_info = pd.json_normalize(response_2.json()['usage'])
df_usage_info

           contentID  credits_used                         date
0   eio0a861hwzrublc             3  2023-02-23T18:42:02.000000Z
1   jq74r9s20tb6ikau             3  2023-02-23T17:20:39.000000Z
2   p4sb8tjfyxzd1v63             2  2023-02-23T17:07:38.000000Z
3   7ryv8n9h0lk3qmgj             4  2023-02-23T16:24:40.000000Z
4   piy26g3ndtzqfx0s            35  2023-02-23T16:18:04.000000Z
..               ...           ...                          ...
95  merzx6n40duqvlp5            32  2023-01-27T22:22:42.000000Z
96  46iyzfxdow3cn870            16  2023-01-27T22:21:21.000000Z
97  hsmd3wn5ytaf8ckx            28  2023-01-27T22:03:33.000000Z
98  eu4ycpgbd3r8m9zn            14  2023-01-27T22:01:11.000000Z
99  l792hdrkzm5gncsb             1  2023-01-27T21:56:16.000000Z

[100 rows x 3 columns]

In [8]:
# EXAMPLE GET PAYMENTS

headers={'X-OAI-API-KEY': api_key}
response_3 = requests.get(url + '/account/credits/payments', headers=headers)
response_3.json()

{'payments': []}

In [9]:
# EXAMPLE POST CONTENT SCAN

headers={'X-OAI-API-KEY': api_key}
params={
  "content": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit varius nisi, non eleifend ante volutpat non. Fusce eget rutrum tellus. Duis et dolor dignissim, tincidunt odio et, cursus libero. Donec vitae nunc mollis, rutrum risus a, sodales lectus. Maecenas dapibus auctor egestas. Nunc volutpat justo purus, eu sodales neque sollicitudin id. Quisque ut scelerisque dolor. Suspendisse tincidunt viverra erat a scelerisque. Proin tempor libero sit amet sem consectetur, et elementum tortor lobortis. Ut eleifend fermentum accumsan. Pellentesque mattis nec eros in porta. Nunc aliquam ultricies est vitae euismod. Vestibulum pretium, lorem quis ornare molestie, velit risus posuere enim, sit amet fringilla lorem lectus aliquam dolor."
}

response_4 = requests.post(url + '/scan/ai',headers=headers, params=params)
response_4.json()

{'success': True,
 'score': {'original': 0.583263635635376, 'ai': 0.416736364364624},
 'credits_used': 2,
 'credits': 93407,
 'content': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit varius nisi, non eleifend ante volutpat non. Fusce eget rutrum tellus. Duis et dolor dignissim, tincidunt odio et, cursus libero. Donec vitae nunc mollis, rutrum risus a, sodales lectus. Maecenas dapibus auctor egestas. Nunc volutpat justo purus, eu sodales neque sollicitudin id. Quisque ut scelerisque dolor. Suspendisse tincidunt viverra erat a scelerisque. Proin tempor libero sit amet sem consectetur, et elementum tortor lobortis. Ut eleifend fermentum accumsan. Pellentesque mattis nec eros in porta. Nunc aliquam ultricies est vitae euismod. Vestibulum pretium, lorem quis ornare molestie, velit risus posuere enim, sit amet fringilla lorem lectus aliquam dolor.'}

In [10]:
# EXAMPLE POST CONTENT SCAN INTO DF

df_content_scan = pd.json_normalize(response_4.json())
df_content_scan.head()

,success,credits_used,credits,content,score.original,score.ai
0,True,2,59161,"Lorem ipsum dolor sit amet, consectetur adipis...",0.583264,0.416736

In [11]:
# EXAMPLE POST URL SCAN

headers={'X-OAI-API-KEY': api_key}
params={"url": "https://www.target.com/c/table-lamps-lighting-home-decor/-/N-56d7t"}
response_5 = requests.post(url + "/scan/url",headers=headers, params=params)
response_5.json()

{'success': True,
 'url': 'https://www.target.com/c/table-lamps-lighting-home-decor/-/N-56d7t',
 'url_code': 200,
 'credits_used': 4,
 'credits': 59157,
 'word_count': 303,
 'score': {'original': 0.9989977478981018, 'ai': 0.0010022532660514116},
 'score_breakdown': [{'original': 0.9989977478981018,
   'ai': 0.0010022532660514116,
   'text': ' A bedroom table lamp sets the mood for your bedroom and illuminates reading and task work. These should be 24"–27" tall for optimal bedtime reading. Light your living room and create an inviting atmosphere with the right table lamp. The ideal lamp size for a living room table lamp is 24"–34" tall. Task desk lighting can help bring specific areas into focus, while a taller lamp can brighten a larger area. Desk lamps can range in size from 12"–30" high. These small (less than 24" tall) lamps soften the overall light in a room and draw attention to objects nearby. They’re perfect for entryways or living rooms. Add warmth & light to any space with a table lamp. As easy addition, lamps help set the right ambiance for every type of room. Living rooms require soft lighting to create an inviting atmosphere for your guests. Accent lamps not only brighten up the room but also double up as decor for your living room. The base and shade complement each other making them a great decor accessory. They are perfect for your entryway table or living rooms. Based on your decor style, find a variety of designs, from modern to bohemian, or go rustic with a farmhouse-inspired lamp. If you are looking to mix-n-match, pick your favorite lamp base available in a range of materials, from glass to wood and shiny metallic finishes. The size, material, and shape of the shade also determine the amount of illumination. For bedrooms, the lighting is softer to set the right mood for relaxation or light reading. A table lamp for the bedroom helps illuminate for reading and task work but is softer than a desk lamp. Task desk lamps are great for your study table or work desk as they focus light on a specific area.'}],
 'results': {'success': True,
  'statusCode': 200,
  'cost': 4,
  'wordCount': 303,
  'totalAIResults': {'real': 0.9989977478981018,
   'fake': 0.0010022532660514116},
  'blocks': [{'original': 0.9989977478981018,
    'ai': 0.0010022532660514116,
    'text': ' A bedroom table lamp sets the mood for your bedroom and illuminates reading and task work. These should be 24"–27" tall for optimal bedtime reading. Light your living room and create an inviting atmosphere with the right table lamp. The ideal lamp size for a living room table lamp is 24"–34" tall. Task desk lighting can help bring specific areas into focus, while a taller lamp can brighten a larger area. Desk lamps can range in size from 12"–30" high. These small (less than 24" tall) lamps soften the overall light in a room and draw attention to objects nearby. They’re perfect for entryways or living rooms. Add warmth & light to any space with a table lamp. As easy addition, lamps help set the right ambiance for every type of room. Living rooms require soft lighting to create an inviting atmosphere for your guests. Accent lamps not only brighten up the room but also double up as decor for your living room. The base and shade complement each other making them a great decor accessory. They are perfect for your entryway table or living rooms. Based on your decor style, find a variety of designs, from modern to bohemian, or go rustic with a farmhouse-inspired lamp. If you are looking to mix-n-match, pick your favorite lamp base available in a range of materials, from glass to wood and shiny metallic finishes. The size, material, and shape of the shade also determine the amount of illumination. For bedrooms, the lighting is softer to set the right mood for relaxation or light reading. A table lamp for the bedroom helps illuminate for reading and task work but is softer than a desk lamp. Task desk lamps are great for your study table or work desk as they focus light on a specific area.'}],
  'results': {'pageID': 0,
   'url': 'https://www.target.com/c/table-lamps-lighting-home-decor/-/N-56d7t',
   'statusCode': 200,
   'aiResults': {'real': 0.9989977478981018, 'fake': 0.0010022532660514116},
   'wordCount': 303,
   'aiTextBlocks': [{'text': ' A bedroom table lamp sets the mood for your bedroom and illuminates reading and task work. These should be 24"–27" tall for optimal bedtime reading. Light your living room and create an inviting atmosphere with the right table lamp. The ideal lamp size for a living room table lamp is 24"–34" tall. Task desk lighting can help bring specific areas into focus, while a taller lamp can brighten a larger area. Desk lamps can range in size from 12"–30" high. These small (less than 24" tall) lamps soften the overall light in a room and draw attention to objects nearby. They’re perfect for entryways or living rooms. Add warmth & light to any space with a table lamp. As easy addition, lamps help set the right ambiance for every type of room. Living rooms require soft lighting to create an inviting atmosphere for your guests. Accent lamps not only brighten up the room but also double up as decor for your living room. The base and shade complement each other making them a great decor accessory. They are perfect for your entryway table or living rooms. Based on your decor style, find a variety of designs, from modern to bohemian, or go rustic with a farmhouse-inspired lamp. If you are looking to mix-n-match, pick your favorite lamp base available in a range of materials, from glass to wood and shiny metallic finishes. The size, material, and shape of the shade also determine the amount of illumination. For bedrooms, the lighting is softer to set the right mood for relaxation or light reading. A table lamp for the bedroom helps illuminate for reading and task work but is softer than a desk lamp. Task desk lamps are great for your study table or work desk as they focus light on a specific area.',
     'status': 'success',
     'result': {'fake': 0.0010022532660514116, 'real': 0.9989977478981018}}]}}}

In [12]:
# EXAMPLE POST URL SCAN INFO DF

df_content_scan = pd.json_normalize(response_5.json())
df_content_scan.head()

,success,url,url_code,credits_used,credits,word_count,score_breakdown,score.original,score.ai,results.success,results.statusCode,results.cost,results.wordCount,results.totalAIResults.real,results.totalAIResults.fake,results.blocks,results.results.pageID,results.results.url,results.results.statusCode,results.results.aiResults.real,results.results.aiResults.fake,results.results.wordCount,results.results.aiTextBlocks
0,True,https://www.target.com/c/table-lamps-lighting-...,200,4,59157,303,"[{'original': 0.9989977478981018, 'ai': 0.0010...",0.998998,0.001002,True,200,4,303,0.998998,0.001002,"[{'original': 0.9989977478981018, 'ai': 0.0010...",0,https://www.target.com/c/table-lamps-lighting-...,200,0.998998,0.001002,303,[{'text': ' A bedroom table lamp sets the mood...